{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow user-auth-form">
                <div class="card-body">
                    <h1 class="text-center mb-4">
                        <i class="bi bi-person-plus user-auth-icon me-2"></i>
                        Inscription
                    </h1>

                    {{ form_start(registrationForm, {'attr': {'class': 'user-auth-form'}}) }}

                        <!-- Email -->
                        <div class="mb-3">
                            <label for="{{ registrationForm.email.vars.id }}" class="form-label">
                                <i class="bi bi-envelope user-auth-icon me-1"></i> Email
                            </label>
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>

                        <!-- Prénom -->
                        <div class="mb-3">
                            <label for="{{ registrationForm.firstName.vars.id }}" class="form-label">
                                <i class="bi bi-person user-auth-icon me-1"></i> Prénom
                            </label>
                            {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.firstName) }}
                        </div>

                        <!-- Nom -->
                        <div class="mb-3">
                            <label for="{{ registrationForm.lastName.vars.id }}" class="form-label">
                                <i class="bi bi-person user-auth-icon me-1"></i> Nom
                            </label>
                            {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.lastName) }}
                        </div>

                        <!-- Mot de passe  -->
                        <div class="mb-3">
                            <label for="{{ registrationForm.plainPassword.first.vars.id }}" class="form-label">
                                <i class="bi bi-lock user-auth-icon me-1"></i> Mot de passe
                            </label>
                            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.plainPassword.first) }}
                        </div>

                        <div class="mb-3">
                            <label for="{{ registrationForm.plainPassword.second.vars.id }}" class="form-label">
                                <i class="bi bi-lock-fill user-auth-icon me-1"></i> Confirmer le mot de passe
                            </label>
                            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(registrationForm.plainPassword.second) }}
                        </div>

                        <!-- CGU -->
                        <div class="mb-3 form-check">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
                                J’accepte les conditions générales
                            </label>
                        </div>

                        <!-- Bouton -->
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-check-circle me-1"></i> S'inscrire
                        </button>

                    {{ form_end(registrationForm) }}

                    <hr class="my-4">

                     <p class="text-center text-dark">
                        Déjà un compte ? <a href="{{ path('app_login') }}" rel="next" class="text-decoration-none">Se connecter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}